<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <strong>
        <%= I18n.t("errors.messages.not_saved",
                  count: ticket.errors.count,
                  resource: ticket.class.model_name.human.downcase)
        %>
      </strong>
      <% ticket.errors.full_messages.each do |message| %>
        <div>
          <%= message %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= form.text_field :title, autocomplete: "title", class: "form-control mb-3", placeholder: "Title" %>

  <strong><%= form.label :type %></strong>
  <%= form.select :type, Ticket.types.keys, include_blank: true %>
  <br><br>

  <%= form.text_field :description, autocomplete: "description", class: "form-control mb-3", placeholder: "Description" %>

  <%= form.date_field :deadline, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class: 'form-control mb-3' %> 

  <strong><%= form.label :project %></strong>
  <%= form.select :project_id, Project.all.map { |p| [p.title, p.id] }, include_blank: true %>
  <br><br>

  <strong><%= form.label :screen_shot %></strong>
  <%= form.file_field :screen_shot, class: "form-control mb-3" %>

  <%= form.hidden_field :status, :value => 'New' %>

  <div class="actions">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
