<div class="card">
  <div class="card-header">
    <h1><%= @project.title %></h1>
  </div>
  <div class="card-body">
    <p class="card-text"><%= @project.description %></p>
    <% @project.tickets.each do |ticket| %>
      <%= ticket.title %>
      <br>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
